#bibliotheque  {
    z-index:50;
    background-color:transparent;
    background-repeat:repeat;
    background-position:left top;
    padding-left:15px;
    padding-right:5px;
}

#recherche_bibliotheque {
    position: absolute;
    display: none;
    z-index:700;
    margin-top: -20px;
    background-color:gray;
}

.magazine_trouve img {
    margin-right: 5px;
    margin-top: 2px;
}

.resultat_recherche, .magazine_trouve, .histoire_trouvee {
    width:304px;
    height:20px;
    background-color:white;
    color:black;
    padding-top:5px;
    padding-left:34px;
    border:1px solid black;
}

.resultat_recherche {
    font-weight: bold;
}

.magazine_trouve, .histoire_trouvee {
    cursor:pointer;
}

.fleche_position {
    z-index:100;
    position: absolute;
}
.etagere {
    margin-top:-3px;
    background-color:transparent;
    background-repeat:no-repeat;
    background-position:10px 0px;
    margin-left:-15px;
    margin-right:-5px;
}

.tranche {
    position:relative;
    z-index:100;
    background-color:white;
}

.bulle {
    border: 1px solid black;
    background-color: white;
    color: black;
    position:absolute;
    z-index:150;
    width:300px;
    height:200px;
    overflow: auto;
    margin-top:-150px;
}

.titre_magazine {
    font-size: 20px;
}

.numero_magazine {
    font-size: 16px;
}

.lien_participer {
    color:blue;
    text-decoration: underline;
}

.lien_apercus {
    background-color: white;
    background-repeat: no-repeat;
    color: red;
    cursor: pointer;
    margin-left: 1px;
    padding-top: 25px;
    position: absolute;
    width: 60px;
    z-index: 500;
}

#page_suivante {
    background-image:url('images/fleche_droite.png');
}

#page_precedente {
    background-image:url('images/fleche_gauche.png');
}

.page_invisible {
    background-image:url('images/page_invisible_motif.jpg');
}

.page_arriere {
    z-index:400;
}

.page_avant {
    z-index:500;
}

.page_arriere img, .page_avant img {
    height:100%;
    width:100%;
}

.magazine_deplacable .handle {
    cursor:move;
}