.raised, .raised_sel {
	background: transparent none repeat scroll 0 0;
	margin: 0 auto;
	width: 100%;
}

.raised h1,.raised p,.raised_sel h1,.raised_sel p {
	margin: 0 10px;
}

.raised h1,.raised_sel h1 {
	color: #FFFFFF;
	font-size: 2em;
	letter-spacing: 1px;
}

.raised p,.raised_sel p {
	padding-bottom: 0.5em;
}

.raised .top,.raised .bottom,.raised_sel .top,.raised_sel .bottom {
	background: transparent none repeat scroll 0 0;
	display: block;
	font-size: 1px;
}

.raised .b1,.raised .b2,.raised .b3,.raised .b4,.raised .b1b,.raised .b2b,.raised .b3b,.raised .b4b,.raised_sel .b1,.raised_sel .b2,.raised_sel .b3,.raised_sel .b4,.raised_sel .b1b,.raised_sel .b2b,.raised_sel .b3b,.raised_sel .b4b
	{
	display: block;
	overflow: hidden;
}

.raised .b1,.raised .b2,.raised .b3,.raised .b1b,.raised .b2b,.raised .b3b,.raised_sel .b1,.raised_sel .b2,.raised_sel .b3,.raised_sel .b1b,.raised_sel .b2b,.raised_sel .b3b
	{
	height: 1px;
}

.raised .b2 {
	background: rgb(197, 171, 133) none repeat scroll 0 0;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #EEEEEE;
}

.raised_sel .b2 {
	background: rgb(200, 137, 100) none repeat scroll 0 0;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #EEEEEE;
}

.raised .b3 {
	background: rgb(197, 171, 133) none repeat scroll 0 0;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #DDDDDD;
}

.raised_sel .b3 {
	background: rgb(200, 137, 100) none repeat scroll 0 0;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #DDDDDD;
}

.raised .b4 {
	background: rgb(197, 171, 133) none repeat scroll 0 0;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #AAAAAA;
}

.raised_sel .b4 {
	background: rgb(200, 137, 100) none repeat scroll 0 0;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #AAAAAA;
}
.raised .b4b {
	background: rgb(197, 171, 133) none repeat scroll 0 0;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #999999;
}

.raised_sel .b4b {
	background: rgb(200, 137, 100) none repeat scroll 0 0;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #999999;
}

.raised .b3b {
	background: rgb(197, 171, 133) none repeat scroll 0 0;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #999999;
}

.raised_sel .b3b {
	background: rgb(200, 137, 100) none repeat scroll 0 0;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #999999;
}

.raised .b2b {
	background: rgb(197, 171, 133) none repeat scroll 0 0;
	border-left: 1px solid #AAAAAA;
	border-right: 1px solid #999999;
}

.raised_sel .b2b {
	background: rgb(200, 137, 100) none repeat scroll 0 0;
	border-left: 1px solid #AAAAAA;
	border-right: 1px solid #999999;
}
.raised .b1,.raised_sel .b1 {
	background: #FFFFFF none repeat scroll 0 0;
	margin: 0 5px;
}

.raised .b2,.raised .b2b,.raised_sel .b2,.raised_sel .b2b {
	border-width: 0 2px;
	margin: 0 3px;
}

.raised .b3,.raised .b3b,.raised_sel .b3,.raised_sel .b3b {
	margin: 0 2px;
}

.raised .b4,.raised .b4b,.raised_sel .b4,.raised_sel .b4b {
	height: 2px;
	margin: 0 1px;
}

.raised .b1b,.raised_sel .b1b {
	background: #999999 none repeat scroll 0 0;
	margin: 0 5px;
}

.raised .boxcontent {
	background: rgb(197, 171, 133) none repeat scroll 0 0;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #999999;
	display: block;
	text-align:center;
	color:#000000;
}

.raised_sel .boxcontent {
	background: rgb(200, 137, 100) none repeat scroll 0 0;
	border-left: 1px solid #FFFFFF;
	font-weight:bold;
	border-right: 1px solid #999999;
	display: block;
	text-align:center;
	color:#000000;
}

.raised .boxcontent p a {
	color:black;
	text-decoration: none;
}

.boxcontent p a {
	color:#ffffff;
	text-decoration: none;
}

.raised_sel .boxcontent p a:HOVER {
	font-weight: bold;
}
.raised .boxcontent p a:HOVER {
	font-weight: normal;
}