/* Carousel */
.pluit-carousel {
  position: relative;
  margin-bottom: 1em;
  width: 100% !important;
  overflow-x: auto;
}

.pluit-carousel .viewport img {
  border: 0;
  display: block;
  cursor: pointer;
}

#conteneur_infos_fonc {
	display: inline;
	overflow-y:auto;
	height:341px;
	border: 1px dashed white;
	position: absolute;top: 0;
	left: 737px;
	min-width:400px;
	max-width:550px;
}

.pluit-carousel .infos-fonc img {
	max-width: 95%;
	margin-top: 7px;
	opacity:0.8;
    -moz-opacity : 0.8; 
    -ms-filter: "alpha(opacity=80)";
    filter : alpha(opacity=80);
	border: 1px solid black;
}

.pluit-carousel ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Viewport */
.pluit-carousel .viewport {
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
}

.pluit-carousel .viewport ul {
  width: 6000px;
}

.pluit-carousel .viewport ul li {
  display: block;
  float: left;
}

.pluit-carousel .viewport ul ul {
  width: auto;
  float: left;
}

.pluit-carousel .viewport ul ul li {
  margin-right: 5px;
}

/* Navigation */
.pluit-carousel .nav {
  position: relative;
  padding: 0 3px;
  height: 10px;
}

.pluit-carousel .nav li a {
  display: block;
  overflow: hidden;
  text-indent: -100em;
  background: url(images/carousel_nav.png) no-repeat 0 0;
  outline: none;
}

.pluit-carousel .nav li a:hover {
  background-position: -46px 0;
}

.pluit-carousel .infos-fonc {
  margin-top: 25px;
  margin-left: 5px;
  margin-right: 5px;
}


.pluit-carousel .nav .prev {
  position: absolute;
  right: 22px;
}

.pluit-carousel .nav .next {
  position: absolute;
  right: 5px;
}

.pluit-carousel .nav .prev a, .pluit-carousel .nav .next a {
  width: 10px;
  height: 10px;
  background-position: -91px 0;
}

.pluit-carousel .nav .prev a:hover {
  background-position: -179px 0;
}

.pluit-carousel .nav .next a {
  background-position: -135px 0;
}

.pluit-carousel .nav .next a:hover {
  background-position: -223px 0;
}

.pluit-carousel .nav .pages {
  position: absolute;
  top: 1px;
  left: 3px;
}

.pluit-carousel .nav .pages ul {
  float: left;
}

.pluit-carousel .nav .pages li {
  float: left;
  margin-right: 8px;
}

.pluit-carousel .nav .pages li a {
  width: 10px;
  height: 10px;
}

.pluit-carousel .nav .pages li.active a {
  background-position: -46px 0;
}

.pluit-carousel ul, .pluit-carousel .nav .pages, .pluit-carousel .nav {
  zoom: 1;
}

.pluit-carousel ul:after, .pluit-carousel .nav .pages:after, .pluit-carousel .nav:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}