/* Photo Tag Skin */    
.photo-tag-skin .viewport .tag a {
  color: #fff;
}

.photo-tag-skin .viewport .tag {
  position: absolute;
  font-family: "Lucida Grande", arial, serif;
  top: 295px;
  left: 350px;
  height: 28px;
  width: 150px;
}

.photo-tag-skin .viewport .tag em {
  position: absolute;
  display: block;
  padding: 6px 10px;
  color: #fff;
  z-index: 1;
}

.photo-tag-skin .viewport .tag .shadow {
  position: absolute;
  background: #000;
  filter: alpha(opacity=80);
  opacity: 0.8;

  height: 100%;
  width: 100%;
}

.photo-tag-skin .viewport li {
  position: relative;
}

/* Fancy Side Navigation Skin */
.fancy-nav-skin {
  padding-bottom: 20px;
}

.fancy-nav-skin .nav {
  position: absolute;
  top: 0;
  height: 100%;
  float: none;
}

.fancy-nav-skin .nav li {
  float: none;
}

.fancy-nav-skin .nav .prev, .fancy-nav-skin .nav .next {
  position: absolute;
  top: 235px;
  left: 476px;
  width: 60px;
}

.fancy-nav-skin .nav .next {
  left: 501px;
  top: 210px;
  z-index: 1;
}

.fancy-nav-skin .nav .prev a, .fancy-nav-skin .nav .next a {
  width: 50px;
  height: 63px;
  background-position: 0 -85px;
}

.fancy-nav-skin .nav .prev a:hover {
  background-position: -80px -85px;
}

.fancy-nav-skin .nav .next a {
  background-position: -160px -85px;
}

.fancy-nav-skin .nav .next a:hover {
  background-position: -240px -85px;
}

.fancy-nav-skin .nav .pages {
  position: absolute;
  top: 343px;
  width: 500px;
}

.fancy-nav-skin .nav .pages li a {
  width: 15px;
  height: 15px;
  background-position: 0 -40px;
}

.fancy-nav-skin .nav .pages li.active a {
  background-position: -46px -40px;
}

/* Big Navigation Skin */
.big-nav-skin .nav .pages li a {
  width: 15px;
  height: 15px;
  background-position: 0 -40px;
}

.big-nav-skin .nav .pages li.active a {
  background-position: -46px -40px;
}

.big-nav-skin .nav .prev a, .big-nav-skin .nav .next a {
  width: 15px;
  height: 15px;
  background-position: -91px -40px;
}

.big-nav-skin .nav .prev a:hover {
  background-position: -179px -40px;
}

.big-nav-skin .nav .next a {
  background-position: -134px -40px;
}

.big-nav-skin .nav .next a:hover {
  background-position: -222px -40px;
}

/* Top Story Skin */
.top-stories-skin .nav {
  position: absolute;
  top: 2px;
  left: 507px;
}

.top-stories-skin .nav .pages {
  padding: 0 1px 1px;
  border-left: 0;
}

.top-stories-skin .nav .pages li {
  margin-right: 0;
}

.top-stories-skin .nav .pages li a {
  width: 200px;
  height: 63px;
  background: #999;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-indent: 0;
  text-decoration: none;
  white-space: normal;
}

.top-stories-skin .nav .pages li a:hover {
  background: #777;
  color: #fff;
}

.top-stories-skin .nav .pages li.active a {
  background: #000;
  color: #fff;
}

.top-stories-skin .nav .pages .last a {
  border-bottom: 0;
}

.top-stories-skin .viewport {
  padding: 1px;
}

.top-stories-skin .viewport li {
  position: relative;
  padding-right: 1px;
  border:4px solid #ccc;
}

.top-stories-skin .viewport .desc {
  position: absolute;
  top: 280px;
  left: 0;
  width: 499px;
  height: 53px;
  font-family: "Lucida Grande", arial, serif;
  color: #fff;
}

.top-stories-skin .viewport .desc em {
  position: absolute;
  display: block;
  padding: 10px 12px;
  font-size: 11px;
  font-style: normal;
  color: #fff;
  z-index: 1;
}

.top-stories-skin .viewport .desc a {
  color: #fff;
}

.top-stories-skin .viewport .desc .shadow {
  position: absolute;
  background: #000;
  filter: alpha(opacity=80);
  opacity: 0.8;
  
  top: 0;
  width: 100%;
  height: 53px;
}