/* GENERAL STYLES */

div.menu {
	position: absolute;
	top: 0;
	left: 0;
	font-family: verdana;
}
div.menu a {
	display: block;
	text-decoration: none;
	cursor: default;
	outline: none;
	font-size: 11px;
}

div.menu input {
	margin-left:20px;
	font-size:12px;
	color:#555555;
}

.menu .separator {
	height: 1px;
	padding: 0;
	overflow: hidden;
	display: block;
	font-size: 1px;
}
.menu ul, .menu li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu li {
	list-style-position: outside;
}

.sous_menu {
	/*background:transparent url(images/fleche_sous_menu.png) no-repeat scroll 100% 50%;*/
}


/* FIREFOX STYLES */

.menu.firefox {
	width: 12em;
	background: #F4F5EB;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #666;
	border-bottom: 1px solid #666;
	padding: 2px 0;
}
.menu.firefox a {
	color: #555;
	padding: 4px 15px;
	margin: 0 2px;
}
.menu.firefox a:hover {
	background: #006;
	color: #fff;
}
.menu.firefox a.disabled {
	color: #bbb;
}
.menu.firefox a.disabled:hover {
	background: #F4F5EB;
	color: #bbb;
}
.menu.firefox .separator {
	border-bottom: 1px solid #fff;
	background: #999;
	margin: 2px 4px;
}


/* GOOGLE STYLES */

.menu.google {
	width: 10.5em;
	background: #fff;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #676767;
	border-right: 1px solid #676767;
}
.menu.google a {
	color: #00c;
	text-decoration: none;
	padding: 2px 5px;
	cursor: pointer;
	font-size: 12px;
}
.menu.google a:hover {
	background: #D3E3FE;
}
.menu.google a.disabled {
	color: #bbb;
}
.menu.google a.disabled:hover {
	background: #fff;
	color: #bbb;
}
.menu.google .separator {
	background: #ccc;
}

/* DESKTOP STYLES */
.menu.desktop {
	width: 24em;
	background: #f9f8f7;
	border: 1px solid #999;
	padding: 0;
}
.menu.desktop.small {
    width: 16em;
}
.menu.desktop.large {
    width: 32em;
}
.menu.desktop ul, .menu.desktop li {
	margin: 0;
	padding: 0;
}
.menu.desktop li.separator {
	height: 1px;
}
.menu.desktop a, .types_listes a {
	color: #555;
	padding: 3px 0 3px 25px;
	margin: 0;
	border: 1px solid #f9f8f7;
}
.menu.desktop a.disabled {
	opacity: 0.25;
	filter: alpha(opacity=25);
	zoom: 1;
}
.menu.desktop li.separator {
	border-bottom: 1px solid #fff;
	background: #aaa;
	margin: 1px 1px 0 1px;
	line-height: 1px !important;
}

.menu.desktop a.deplacer_avant {
  background: #f9f8f7 url(images/deplacer_haut.png) 2px 50% no-repeat;
}
.menu.desktop a.deplacer_apres {
  background: #f9f8f7 url(images/deplacer_bas.png) 2px 50% no-repeat;
}
.menu.desktop a.fusionner_les_deux {
  background: #f9f8f7 url(images/fusionner.png) 2px 50% no-repeat;
}

.menu.desktop a.type_liste {
  background: #f9f8f7 url(images/type_liste.png) 2px 50% no-repeat;
}
.menu.desktop a.extraire {
  background: #f9f8f7 url(images/layers.png) 2px 50% no-repeat;
}
.menu.desktop a.fusionner_tout {
  background: #f9f8f7 url(images/fusionner_tout.png) 2px 50% no-repeat;
}
.menu.desktop a.type_liste_global {
  background: #f9f8f7 url(images/type_liste_global.png) 2px 50% no-repeat;
}
a.classique {
  background: #ffffff url(images/list.png) 2px 50% no-repeat;
}
a.nombre {
  background: #ffffff url(images/sum.png) 2px 50% no-repeat;
}
a.collectable {
  background: #ffffff url(images/table.png) 2px 50% no-repeat;
}
a.dmspiral {
  background: #ffffff url(images/spiral.png) 2px 50% no-repeat;
}

.menu.desktop a.new {
  background: #f9f8f7 url(images/page.png) 2px 50% no-repeat;
}
.menu.desktop a.non_possede {
  background: #f9f8f7 url(images/non_possede.png) 2px 50% no-repeat;
}
.menu.desktop a.a_vendre {
  background: #f9f8f7 url(images/av_petit.png) 2px 50% no-repeat;
}
.menu.desktop a.pas_a_vendre {
  background: #f9f8f7 url(images/pas_av_petit.png) 2px 50% no-repeat;
}
.menu.desktop a.possede {
  background: #f9f8f7 url(images/possede.png) 2px 50% no-repeat;
}
.menu.desktop a.mauvais {
  background: #f9f8f7 url(images/mauvais.png) 2px 50% no-repeat;
}
.menu.desktop a.moyen {
  background: #f9f8f7 url(images/moyen.png) 2px 50% no-repeat;
}
.menu.desktop a.bon {
  background: #f9f8f7 url(images/bon.png) 2px 50% no-repeat;
}
.menu.desktop a.excellent {
  background: #f9f8f7 url(images/excellent.png) 2px 50% no-repeat;
}
.menu.desktop a.date {
  background: #f9f8f7 url(images/page_date.png) 2px 50% no-repeat;
}
.menu.desktop a.pas_date {
  background: #f9f8f7 url(images/pas_page_date.png) 2px 50% no-repeat;
}
.menu.desktop a.date2 {
  background: #f9f8f7 url(images/page_date_petit.png) 2px 50% no-repeat;
}
.menu.desktop a.n_date {
  background: #f9f8f7 url(images/page_date.png) 2px 50% no-repeat;
}
.menu.desktop a.delete {
  background: #f9f8f7 url(images/page_delete.png) 2px 50% no-repeat;
}
.menu.desktop a.save {
  background: #f9f8f7 url(images/page_save.png) 2px 50% no-repeat;
}
.menu.desktop a.xsl {
  background: #f9f8f7 url(images/page_excel.png) 2px 50% no-repeat;
}
.menu.desktop a.doc {
  background: #f9f8f7 url(images/page_word.png) 2px 50% no-repeat;
}
.menu.desktop a.pdf {
  background: #f9f8f7 url(images/page_acrobat.png) 2px 50% no-repeat;
}
.menu.desktop a.send {
  background: #f9f8f7 url(images/email.png) 2px 50% no-repeat;
}
/* we need explicit enabled class to overcome css deficiences (without creating unnecessary markup) 
*/
.menu.desktop a.enabled:hover {
	background-color: #0A246A;
	color: #fff;
	cursor:pointer;
	font-weight:bold;
}
.menu.desktop a.disabled:hover {
	font-weight:normal;
	cursor:default;
}
.menu.desktop a.selected {
	background-color: brown;
	color: #fff;
}
.menu.desktop a.save.enabled:hover {
	background-color: green;
	color: #fff;
}
/*
.editer_date {
	background:url("images/editer.png") no-repeat scroll 215px center transparent;
}
.supprimer_date {
	background:url("images/supprimer.png") no-repeat scroll right center transparent;
}*/
        
#sous_menu_parametres_liste input {
    margin:0;
    width: 35px;
    text-align: center;
    background-color: white;
}

.menu.desktop a.parametre.enabled:hover {
    background-color: transparent;
    color: #555555;
    font-weight: normal;
    cursor: default;
}

#sous_menu_achat_associer_date_achat {
    max-height:500px;
    overflow-y:auto;
}