html, body {
	height:100%;
	padding:0;
	margin:0;
	font:11px verdana,arial,sans-serif;
	line-height:15px;
}

a {
	color:#ffffff;
	text-decoration: none;
	white-space: nowrap;
	border-bottom: 1px dotted #ffffff;
}

#colonne_gauche a {
	border-bottom: none;
}

a:HOVER {
	text-decoration:none;
	border-bottom: 1px dashed #ffffff !important;
	white-space: nowrap;
}

del {
	white-space:nowrap;
}

a.important {
	/*color:red;*/ 
}
a.important:HOVER {
	text-decoration:underline;
	font-weight: bold;
}

.cache {
	display: none;
}

#medailles_et_login .medaille {
	height: 120px;
	margin-left: 5px;
}

#recemment {
	margin-top: 10px;
	border: 1px solid black;
    color: black;
	padding: 5px 5px 20px 5px;
}

#recemment h4 {
	text-align: center;
    margin-top: 0px;
}

#recemment div {
	margin-top: 12px;
}

#recemment div .date {
	color: #444;
	float: right;
}

#recemment a {
	color: black;
}

#couverture_preview {
	position: absolute;
	margin-left: -5px;
}

#couverture_preview .fermer {
	position: absolute;
	text-align: right;
	width: 100%;
	cursor: pointer;
	background-color: black;
}

#couverture_preview img {
	width: 100%;
}

#login {
	margin-top: 10px;	
	margin-bottom: 10px;
}

#contenu {
	padding: 45px 20px 20px 20px;
	overflow-x:auto;
}
/*
.num_manque, .num_possede {
    background-image: url('images/icones/view.png');
    background-position: left center;
    background-repeat:no-repeat;
}*/

.num_manque {
	width:100%;
	background-color:black;
	cursor:default;
	height:16px;
	padding-top:4px;
}

.num_possede {
	width:100%;
	background-color:rgb(200, 137, 100);
	cursor:default;
	height:16px;
	padding-top:4px;
}

.num_checked {
	background:url('checkedbox.png') no-repeat right center;
	border:1px solid white;
}

.num_mauvais {
	background-color:red;
}

.num_moyen {
	background-color:orange;
}

.num_bon {
	background-color:#2CA77B;
}

.num_bon_checked {
	width:100%;
	background:url('checkedbox.png') no-repeat right center #2CA77B;
	cursor:default;
	height:16px;
}

.num_excellent {
	background-color:#5BADFF;
}

.num_indefini {
	width:100%;
	background-color:#808080;
	cursor:default;
	height:16px;
}

.survole {
    opacity:0.7;
    filter : alpha(opacity=70);
    -moz-opacity : 0.7;

}

.colorselector_manque {
	border:1px solid black;
	cursor:default;
	background-color:black;
}

.colorselector_mauvais {
	border:1px solid black;
	cursor:default;
	background-color:red;
}

.colorselector_moyen {
	border:1px solid black;
	cursor:default;
	background-color:orange;
}

.colorselector_bon {
	border:1px solid black;
	cursor:default;
	background-color:#2CA77B;
}

.colorselector_excellent {
	border:1px solid black;
	cursor:default;
	background-color:rgb(91,173,255);
}

.colorselector_indefini {
	border:1px solid black;
	cursor:default;
	background-color:gray;
}

.ejs_context_menuitems{
	padding-left:12px;
	padding-right:7px; 
}

.desactive {
	filter : alpha(opacity=50);
    -moz-opacity : 0.5;
    opacity : 0.5; 
}

.bold {
    font-weight: bold;
}

.valider {
    background-color:green;
}

.annuler {
    background-color:red;
}

.beta, .nouveau {
    font-size:smaller;
    color:blue;
    vertical-align:super;
}

.error, .warning, .confirmation {
	margin-right: 10px;
	margin-bottom: 23px;
	font-weight: bold;
	border-width: 1px;
	border-style: solid;
}

.error {
	color: red;
	border-color: red;
}

.warning {
	color: orange;
	border-color: orange;
}

.confirmation {
	color: green;
	border-color: green;
}

.preview {
    float:left;
    margin-top: -2px;
    cursor:pointer;
}

.num {
    margin-left:15px;
}

.soustitre {
    color:gray;
}

.details_numero {
    float:right;
    height:16px;
    margin-right:5px;
    width:16px;
}

.bloc_details {
    padding-right:20px;
    margin-top:-2px;
    display:inline;
    float:right;
}

.num_checked .bloc_details {
    padding-right:21px;
}

.icone_detail {
    width:16px;
}

a.drapeau_langue, a.drapeau_langue:HOVER, a.drapeau_langue img {
	border:0;
}

#presentation_demo {
	border:1px solid white;
	width: 400px;
	margin-bottom: 20px;
	padding: 5px 10px 10px 15px;
}

#presentation_demo h2 {
	text-align: center;
}

td#zone_logo1 {
	background: rgb(200, 137, 100) url('Proposition logo_1.png') no-repeat top center;
	background-size: 659px 180px;
	height: 180px;	
}

td#zone_logo2 {
	background: rgb(61, 75, 95) url('Proposition logo_2.png') no-repeat top center;
	background-size: 659px 42px;
	padding-left:5px;
	vertical-align: top;
}

ul#choix_impression {
	margin-top: 31px;
}

ul#choix_impression>li {
	list-style: none;
	min-height: 150px;	
	margin-bottom: 30px;
	padding-left: 170px;
	padding-top: 12px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: left center;
}

ul#choix_impression ul.caract li{
	margin-top: 14px;
}

.exclusif {
	border: 1px solid #C88964;
	padding: 3px;
	margin-right: 5px;
	color: #C88964;
}

.toggler_aide_recherche_magazine {
    cursor: pointer;
}